@mixin sizes($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($flex-direction, $justify-content, $align-items, $flex-wrap: nowrap) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

* {
    box-sizing: border-box;
}

body {
    min-width: 600px;
    background-color: #fafafa;
    color: #616161;
}

.header {
    @include sizes(100%, 60px);
    @include flex(row, flex-end, center);
    padding: 0 20px;
}

.content {
    width: 100%;
    padding: 50px 20px;

    .content__center {
        max-width: 600px;
        margin: 0 auto;
    }
}

.message {
    @include flex(column, flex-start, flex-end);

    .message__content {
        padding: 10px 15px;
        @include sizes(100%, auto);
        @include flex(row, flex-start, flex-start);
        border-radius: 8px;
        margin-bottom: 15px;
        background: #e3f2fd;
        position: relative;

        .message__avatar {
            @include sizes(60px, 60px);
            background: url(../images/avatar.png) center no-repeat;
            background-size: contain;
            border-radius: 50%;
            overflow: hidden;
            flex: 0 0 60px;
            margin-right: 14px;
        }

        .message__info {
            .message__text {
                margin-bottom: 15px;
                font-size: 14px;

                .message__title {
                    font-weight: 700;
                    margin-bottom: 5px;
                    color: #2196f3;
                }

                p {
                    margin: 0 0 15px;
                }
            }

            .messate__date {
                font-size: 12px;
                font-weight: 700;
            }
        }

        .message__line {
            position: absolute;
            @include sizes(90px, 6px);
            border-radius: 10px;
            background: #e8eaf6;
            top: 50%;
            margin-top: -3px;
            left: -100px;
        }
    }

    &.message--comments {
        .message__content {
            background: #e8eaf6;
        }
    }
}

.comments {
    max-width: 500px;
}

.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    @include sizes(100%, 100%);
    @include flex(column, center, center);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    animation: popup 0.6s ease;

    .popup__modal {
        padding: 15px 20px;
        border-radius: 8px;
        background-color: #fff;
        opacity: 0;
        animation: popup-in 0.6s ease-out 0.1s;
        animation-fill-mode: forwards;

        &.popup__modal--500 {
            width: 500px; 
        }
    }
}

@keyframes popup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popup-in {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.flex-btn {
    @include flex(row, center, center);
}

.btn {
    &.btn--130 {
        width: 130px;
    }
}

.label {
    margin-bottom: 20px;
}

.margin-right_20 {
    margin-right: 20px;
}

.margin-bottom_30 {
    margin-bottom: 30px;
}

input {
    &:focus {
        border-bottom: 1px solid #1565c0 !important;
        box-shadow: 0 1px 0 0 #1565c0 !important;

        & + label {
            color: #1565c0 !important;

            & + .input-field__length {
                color: #1565c0;
            }
        }
    }
}

.not-found {
    text-align: center;
    font-size: 16px;
    color: #757575;
}